<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.heshicai.meirmw">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="getui.permission.GetuiService.com.heshicai.meirmw" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="getui.permission.GetuiService.com.heshicai.meirmw"
        android:protectionLevel="normal" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@android:style/Theme.NoTitleBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.heshicai.meirmw.MainActivity" >
        </activity>
        <activity
            android:name="com.heshicai.meirmw.StartActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.heshicai.meirmw.activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />
            </intent-filter>
        </activity>

        <activity android:name="com.heshicai.meirmw.activity.LoginSuccessActivity" >
            <intent-filter>
                <action android:name="android.intent.action.LOGINSUCCESS" />
            </intent-filter>
        </activity>

        <activity android:name="com.heshicai.meirmw.activity.LoginRegisterActivity" >
            <intent-filter>
                <action android:name="android.intent.action.LOGINREGISTER" />
            </intent-filter>
        </activity>
        <activity android:name="com.heshicai.meirmw.activity.SettingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SETTING" />
            </intent-filter>
        </activity>
        <activity android:name="com.heshicai.meirmw.activity.NotificationSettingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.NOTIFICATIONSETTING" />
            </intent-filter>
        </activity>
        <activity android:name="com.heshicai.meirmw.activity.OfflineDownloadActivity" >
            <intent-filter>
                <action android:name="android.intent.action.OfflineDownload" />
            </intent-filter>
        </activity>
        <activity android:name="com.heshicai.meirmw.activity.ShareActivity" >
            <intent-filter>
                <action android:name="android.intent.action.ShareActivity" />
            </intent-filter>
        </activity>
        <activity android:name="com.heshicai.meirmw.activity.OfflineDownloadSetActivity" >
            <intent-filter>
                <action android:name="android.intent.action.OfflineDownloadSet" />
            </intent-filter>
        </activity>
        <activity android:name="com.heshicai.meirmw.activity.WebActivity" >
            <intent-filter>
                <action android:name="android.intent.action.WEB" />
            </intent-filter>
        </activity>

        <activity android:name="com.heshicai.meirmw.activity.CommentsActivity" >

        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name="com.tencent.weibo.sdk.android.component.ReAddActivity" >
        </activity>
        <activity android:name="com.heshicai.meirmw.activity.AboutUsSettingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.AboutUsSetting" />
            </intent-filter>
        </activity>
        <activity android:name="com.heshicai.meirmw.activity.FeedbackSettingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.FeedbackSetting" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.weibo.sdk.android.component.Authorize" >
        </activity>
        <activity
            android:name="com.tencent.weibo.sdk.android.component.PublishActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <meta-data
            android:name="PUSH_APPID"
            android:value="1e5Un4IRYJ9J6Jzr3SFkD4" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="1yCMvnA8KL7q6NGS3Ips97" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="BqCuGT3vF49eS83fT9LGHA" />
        <meta-data
            android:name="PUSH_GROUPID"
            android:value="" />

    </application>

</manifest>